<!DOCTYPE html>
<html lang="en">
<head>
    <title>Online GUID Conversion Tool To Convert Hex Base64 Int</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet"/>
    <link href="/static/guid-convert.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="well" style="margin: 5em auto 0 auto; max-width: 600px">
            <form class="form-search" style="margin:0">
                <input id="guid" class="search-query" type="text" placeholder="GUID"/>
                <button id="submit" type="submit" class="btn">Convert</button>
            </form>
        </div>
        <div id="results">
            <!-- Results will go here -->
        </div>
        <div id="footer" style="text-align: center; display: none;">
            Copyright 2012 Daniel G. Taylor
            <a href="https://github.com/danielgtaylor/guid-tool-web"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script src="/static/guid-convert.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            GuidTool.init();
        })
    </script>
</body>
</html>
