.result {
    max-width: 600px;
    padding: 19px;
    margin: 1em auto;
    border: 1px solid #373B40;
    border-radius: 5px;
}

.result label {
    display: inline-block;
    width: 50px;
    font-weight: bold;
}

.error {
    background-color: #511;
    border-color: #622;
}

.nav-pills a {
    background: transparent !important;
}

#guid {
    width: 64%;
}

#generate {
    width: 7%;
    margin-left: 2%;
}

#submit {
    width: 18%;
    margin-left: 2%;
}

#footer {
    color: #666;
    margin-top: 1em;
}